### Miscellaneous
.DS_Store
Thumbs.db

### Composer
composer.lock
/vendor/
/bin/

### Node
node_modules

### Bower
bower_components

### IDE
.idea/

### Assets
app/assets/dist

### Tests
tests/_log/*
